<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.paulrudy.alfred.url-text-actions</string>
	<key>connections</key>
	<dict>
		<key>0C081783-177A-49A6-9905-00E2A5CCA7EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C3F13C2-2362-4A2A-8F89-7C8749FC1165</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>10A2808C-A8BD-4409-A929-5FD9ECA56E46</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E58233B6-8245-41DD-B5A2-AD63222BEE9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F20235B-2AE4-42C9-A407-44D38A45D9F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B3A1272-8B9D-4D53-A62B-F3D43FF72F6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24908D92-E988-422C-B199-641C369B0D9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CB92DF3-1D1C-4F56-BA99-174E96F810F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24E8C02D-7A97-41FA-9D34-39D606A41A74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DC762FF-1131-4682-95B3-36DCEE187FDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28C521CA-4B0E-4760-A253-A22561E1328A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A2808C-A8BD-4409-A929-5FD9ECA56E46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FCD9F332-BE60-4D20-A03E-0EEA60FEF7B8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste in frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C6D1048-1692-404F-97FC-7D5DAA929019</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90BA7B58-BCF9-4FF3-97D9-4061CEFB01CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CA88333-7201-4CB0-BB62-91510F5C1BC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB287DD0-2FE2-4E6E-A817-3484F075A0C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D2B53B3-3136-47D7-9DEF-43FDA6E25B42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A3D3079-E5D5-4245-BB13-04184E19F522</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>65EEF38F-00B6-4B70-9AF8-C673FB1A2E08</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38AC2889-3FC9-4E6B-BD7D-5C7A5BF47E42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C6D1048-1692-404F-97FC-7D5DAA929019</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DC762FF-1131-4682-95B3-36DCEE187FDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4420F702-2D33-4487-872B-902E30B24E6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C3F13C2-2362-4A2A-8F89-7C8749FC1165</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B0FC44E-73CA-4393-BC1C-684A0927AEB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CB92DF3-1D1C-4F56-BA99-174E96F810F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50B16463-768D-4ED1-A907-CEC3753EEFF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59A08E5C-15A9-4F57-9A15-1D1AB0A504A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD9669F5-77D7-4110-B7FC-D9C105209B6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A9CE55F-1285-4A29-823A-E79B7A6EEDF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD9669F5-77D7-4110-B7FC-D9C105209B6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>59A08E5C-15A9-4F57-9A15-1D1AB0A504A4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and paste into to frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70F02423-1AAB-46D3-A887-09FABFA0EEF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F20235B-2AE4-42C9-A407-44D38A45D9F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>746D6E59-7C65-48F7-B02C-11611996865F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DC762FF-1131-4682-95B3-36DCEE187FDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>24E8C02D-7A97-41FA-9D34-39D606A41A74</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste in frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B0FC44E-73CA-4393-BC1C-684A0927AEB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>911606A8-8CC2-4684-8C3B-A034B3943851</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8145FF46-F1C1-4D81-9D77-4F216DED6C40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B0FC44E-73CA-4393-BC1C-684A0927AEB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4C3F13C2-2362-4A2A-8F89-7C8749FC1165</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and paste into to frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90BA7B58-BCF9-4FF3-97D9-4061CEFB01CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07D93927-12D7-4E44-8431-1DF2643DE336</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>65EEF38F-00B6-4B70-9AF8-C673FB1A2E08</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2D2B53B3-3136-47D7-9DEF-43FDA6E25B42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90C96325-CE8E-4949-8E8D-1383B446320A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CB92DF3-1D1C-4F56-BA99-174E96F810F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>24908D92-E988-422C-B199-641C369B0D9B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste in frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>911606A8-8CC2-4684-8C3B-A034B3943851</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E69E6D13-FCA1-49A4-BE0A-CB1961453D96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A3370F56-5216-4C29-BE10-D342F9981FC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD88108C-B803-4C38-A73E-72701DF07A09</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>65EEF38F-00B6-4B70-9AF8-C673FB1A2E08</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B404E63C-DA0A-48FA-AB05-C9388718378F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF725492-5511-4913-8C81-2688821D5229</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC665957-C3F2-4C7D-B6A6-EA2A00CAD789</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70F02423-1AAB-46D3-A887-09FABFA0EEF5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D56F8470-460F-4F0F-BADD-1F7ED836D44F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B404E63C-DA0A-48FA-AB05-C9388718378F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EB287DD0-2FE2-4E6E-A817-3484F075A0C8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and paste into to frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB287DD0-2FE2-4E6E-A817-3484F075A0C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B404E63C-DA0A-48FA-AB05-C9388718378F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F04147BC-AE28-4D0D-B708-5D5440147763</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9201BA4-47E9-4AEC-97AF-379848038CD5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A3370F56-5216-4C29-BE10-D342F9981FC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F2836F66-6674-4CE4-B6AA-31D6FFB903A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F20235B-2AE4-42C9-A407-44D38A45D9F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>70F02423-1AAB-46D3-A887-09FABFA0EEF5</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and paste into to frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F396575F-B358-4C06-AE4F-2FF9E2B4D220</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59A08E5C-15A9-4F57-9A15-1D1AB0A504A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9201BA4-47E9-4AEC-97AF-379848038CD5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74C68096-2C5A-46E8-9D2F-AE7FA66F7B3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCD9F332-BE60-4D20-A03E-0EEA60FEF7B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>10A2808C-A8BD-4409-A929-5FD9ECA56E46</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD88108C-B803-4C38-A73E-72701DF07A09</key>
		<array/>
		<key>FD9669F5-77D7-4110-B7FC-D9C105209B6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C8A271E4-6CBD-42D0-A3D8-DF121C5E9CA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF725492-5511-4913-8C81-2688821D5229</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D9A348B-0E09-40FF-B16A-DC8D513EAB1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>paulrudy</string>
	<key>description</key>
	<string>Snippets and actions for text from the browser or a URL</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>URL Text Actions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bpmd</string>
				<key>subtext</key>
				<string>Copy to clipboard</string>
				<key>text</key>
				<string>Get front browser page text as markdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D56F8470-460F-4F0F-BADD-1F7ED836D44F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>run-gather-cli</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>4420F702-2D33-4487-872B-902E30B24E6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Copy page text from URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>746D6E59-7C65-48F7-B02C-11611996865F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>gather_output</key>
					<string>page_text</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3DC762FF-1131-4682-95B3-36DCEE187FDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>run-gather-cli</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6D9A348B-0E09-40FF-B16A-DC8D513EAB1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>url</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>FF725492-5511-4913-8C81-2688821D5229</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>24E8C02D-7A97-41FA-9D34-39D606A41A74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EB287DD0-2FE2-4E6E-A817-3484F075A0C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>gather_output</key>
					<string>page_text</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B404E63C-DA0A-48FA-AB05-C9388718378F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Copy URL as markdown link with title</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>90C96325-CE8E-4949-8E8D-1383B446320A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>run-gather-cli</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>50B16463-768D-4ED1-A907-CEC3753EEFF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>bpmd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>2CA88333-7201-4CB0-BB62-91510F5C1BC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>gather_output</key>
					<string>markdown_link</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4CB92DF3-1D1C-4F56-BA99-174E96F810F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>24908D92-E988-422C-B199-641C369B0D9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>run-gather-cli</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E58233B6-8245-41DD-B5A2-AD63222BEE9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Copy page title of URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>28C521CA-4B0E-4760-A253-A22561E1328A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bmd</string>
				<key>subtext</key>
				<string>Copy to clipboard</string>
				<key>text</key>
				<string>Get URL from front browser as markdown link</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8145FF46-F1C1-4D81-9D77-4F216DED6C40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>gather_output</key>
					<string>page_title</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>10A2808C-A8BD-4409-A929-5FD9ECA56E46</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FCD9F332-BE60-4D20-A03E-0EEA60FEF7B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>title_tab_url</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>7B0FC44E-73CA-4393-BC1C-684A0927AEB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>url</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>E69E6D13-FCA1-49A4-BE0A-CB1961453D96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4C3F13C2-2362-4A2A-8F89-7C8749FC1165</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>(.+)\t([^\t]+)</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>[$1]($2)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>911606A8-8CC2-4684-8C3B-A034B3943851</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>bmd</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>0C081783-177A-49A6-9905-00E2A5CCA7EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>btitle</string>
				<key>subtext</key>
				<string>Copy to clipboard</string>
				<key>text</key>
				<string>Get front browser page title</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5A9CE55F-1285-4A29-823A-E79B7A6EEDF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>url</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>74C68096-2C5A-46E8-9D2F-AE7FA66F7B3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>run-gather-cli</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>F04147BC-AE28-4D0D-B708-5D5440147763</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>run-gather-cli.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F9201BA4-47E9-4AEC-97AF-379848038CD5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>url</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>C8A271E4-6CBD-42D0-A3D8-DF121C5E9CA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>title</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>FD9669F5-77D7-4110-B7FC-D9C105209B6C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>59A08E5C-15A9-4F57-9A15-1D1AB0A504A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>btitle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>F396575F-B358-4C06-AE4F-2FF9E2B4D220</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Getting text from URL. Please wait…</string>
				<key>title</key>
				<string>URL Text Actions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FD88108C-B803-4C38-A73E-72701DF07A09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:gather_output}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>page_text</string>
						<key>outputlabel</key>
						<string>page text</string>
						<key>uid</key>
						<string>65EEF38F-00B6-4B70-9AF8-C673FB1A2E08</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A3370F56-5216-4C29-BE10-D342F9981FC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>burl</string>
				<key>subtext</key>
				<string>Copy to clipboard</string>
				<key>text</key>
				<string>Get front browser URL</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F2836F66-6674-4CE4-B6AA-31D6FFB903A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>url</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>1F20235B-2AE4-42C9-A407-44D38A45D9F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>url</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8B3A1272-8B9D-4D53-A62B-F3D43FF72F6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>07D93927-12D7-4E44-8431-1DF2643DE336</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>70F02423-1AAB-46D3-A887-09FABFA0EEF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>burl</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>CC665957-C3F2-4C7D-B6A6-EA2A00CAD789</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>url</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>38AC2889-3FC9-4E6B-BD7D-5C7A5BF47E42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2C6D1048-1692-404F-97FC-7D5DAA929019</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:paste}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>paste</string>
						<key>uid</key>
						<string>65EEF38F-00B6-4B70-9AF8-C673FB1A2E08</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>90BA7B58-BCF9-4FF3-97D9-4061CEFB01CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your text is ready in the clipboard.</string>
				<key>title</key>
				<string>URL Text Actions</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1A3D3079-E5D5-4245-BB13-04184E19F522</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:gather_output}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>gather</string>
						<key>uid</key>
						<string>65EEF38F-00B6-4B70-9AF8-C673FB1A2E08</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2D2B53B3-3136-47D7-9DEF-43FDA6E25B42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># URL Text Actions - Alfred workflow

This workflow provides actions for getting text from the browser or a URL.

From the frontmost browser tab or with a URL selected, get the page text as markdown, a markdown link, and more. Paste it automatically with a keyword and modifier, a Snippet Trigger, or a Universal Action.

[Alfred forum thread](https://www.alfredforum.com/topic/23116-url-text-actions/)

## Setup

Install Brett Terpstra's [Gather CLI](https://brettterpstra.com/projects/gather-cli/) service, which is required for the actions that get the page text or title from the web.

## Usage

Copy the front browser page text as markdown via the `bpmd` keyword.

![screenshot of bpmd keyword](./screenshots/bpmd-keyword.png-)

- &lt;kbd&gt;⌘&lt;/kbd&gt; to immediately paste the text.
- Or use the Snippet Trigger `..bpmd` to immediately paste the text.
- Or pass a URL via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

Copy the URL from front browser as markdown link via the `bmd` keyword.

![screenshot of bmd keyword](./screenshots/bmd-keyword.png)

- &lt;kbd&gt;⌘&lt;/kbd&gt; to immediately paste the text.
- Or use the Snippet Trigger `..bmd` to immediately paste the text.
- Or pass a URL via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

Copy the front browser page title via the `btitle` keyword.

![screenshot of btitle keyword](./screenshots/btitle-keyword.png)

- &lt;kbd&gt;⌘&lt;/kbd&gt; to immediately paste the text.
- Or use the Snippet Trigger `..btitle` to immediately paste the text.
- Or pass a URL via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

Copy the front browser URL via the `burl` keyword.

![screenshot of burl keyword](./screenshots/burl-keyword.png)

- &lt;kbd&gt;⌘&lt;/kbd&gt; to immediately paste the text.
- Or use the Snippet Trigger `..burl` to immediately paste the text.

Universal Actions (as described above):

![screenshot of universal action](./screenshots/universal-action-with-copy.png)

(Copying and pasting a URL is not available as a Universal Action, since it's trivial to do that via the keyboard)

Snippet Trigger example:

![screenshot of ..bpmd snippet](./screenshots/snippet-before.png)
![screenshot of ..bpmd snippet](./screenshots/snippet-after.png)

## Credits

Based on a [workflow](https://www.alfredforum.com/topic/17176-browser-safari-snippets-and-universal-actions) by [Derick Fay](https://www.alfredforum.com/profile/3468-dfay/)

Brett Terpstra's [Gather-CLI](https://brettterpstra.com/projects/gather-cli/) is one of many, many [projects](https://brettterpstra.com/projects/) he's produced, many of which are free or donation-ware.

Icon credit: Link vector image from [Humbleicons](https://humbleicons.com). [MIT License](https://github.com/zraly/humbleicons/blob/master/license)</string>
	<key>uidata</key>
	<dict>
		<key>07D93927-12D7-4E44-8431-1DF2643DE336</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>1395</real>
			<key>ypos</key>
			<real>950</real>
		</dict>
		<key>0C081783-177A-49A6-9905-00E2A5CCA7EC</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>10A2808C-A8BD-4409-A929-5FD9ECA56E46</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>1220</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>1A3D3079-E5D5-4245-BB13-04184E19F522</key>
		<dict>
			<key>xpos</key>
			<real>1390</real>
			<key>ypos</key>
			<real>1085</real>
		</dict>
		<key>1F20235B-2AE4-42C9-A407-44D38A45D9F5</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>24908D92-E988-422C-B199-641C369B0D9B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>24E8C02D-7A97-41FA-9D34-39D606A41A74</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>28C521CA-4B0E-4760-A253-A22561E1328A</key>
		<dict>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>2C6D1048-1692-404F-97FC-7D5DAA929019</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>2CA88333-7201-4CB0-BB62-91510F5C1BC7</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>2D2B53B3-3136-47D7-9DEF-43FDA6E25B42</key>
		<dict>
			<key>xpos</key>
			<real>1300</real>
			<key>ypos</key>
			<real>1120</real>
		</dict>
		<key>38AC2889-3FC9-4E6B-BD7D-5C7A5BF47E42</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>1030</real>
		</dict>
		<key>3DC762FF-1131-4682-95B3-36DCEE187FDB</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>1220</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>4420F702-2D33-4487-872B-902E30B24E6E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>1295</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>4C3F13C2-2362-4A2A-8F89-7C8749FC1165</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>4CB92DF3-1D1C-4F56-BA99-174E96F810F2</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>1220</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>50B16463-768D-4ED1-A907-CEC3753EEFF4</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>1295</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>59A08E5C-15A9-4F57-9A15-1D1AB0A504A4</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>5A9CE55F-1285-4A29-823A-E79B7A6EEDF0</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>6D9A348B-0E09-40FF-B16A-DC8D513EAB1A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>70F02423-1AAB-46D3-A887-09FABFA0EEF5</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>746D6E59-7C65-48F7-B02C-11611996865F</key>
		<dict>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>74C68096-2C5A-46E8-9D2F-AE7FA66F7B3B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>1260</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>7B0FC44E-73CA-4393-BC1C-684A0927AEB4</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>8145FF46-F1C1-4D81-9D77-4F216DED6C40</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>8B3A1272-8B9D-4D53-A62B-F3D43FF72F6B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>90BA7B58-BCF9-4FF3-97D9-4061CEFB01CB</key>
		<dict>
			<key>xpos</key>
			<real>1225</real>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>90C96325-CE8E-4949-8E8D-1383B446320A</key>
		<dict>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>911606A8-8CC2-4684-8C3B-A034B3943851</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>A3370F56-5216-4C29-BE10-D342F9981FC2</key>
		<dict>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>B404E63C-DA0A-48FA-AB05-C9388718378F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>C8A271E4-6CBD-42D0-A3D8-DF121C5E9CA8</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>CC665957-C3F2-4C7D-B6A6-EA2A00CAD789</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>D56F8470-460F-4F0F-BADD-1F7ED836D44F</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>E58233B6-8245-41DD-B5A2-AD63222BEE9E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>1295</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>E69E6D13-FCA1-49A4-BE0A-CB1961453D96</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>EB287DD0-2FE2-4E6E-A817-3484F075A0C8</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>F04147BC-AE28-4D0D-B708-5D5440147763</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>F2836F66-6674-4CE4-B6AA-31D6FFB903A7</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>F396575F-B358-4C06-AE4F-2FF9E2B4D220</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>740</real>
		</dict>
		<key>F9201BA4-47E9-4AEC-97AF-379848038CD5</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>run gather-cli</string>
			<key>xpos</key>
			<real>1085</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>FCD9F332-BE60-4D20-A03E-0EEA60FEF7B8</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>FD88108C-B803-4C38-A73E-72701DF07A09</key>
		<dict>
			<key>xpos</key>
			<real>1200</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>FD9669F5-77D7-4110-B7FC-D9C105209B6C</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>FF725492-5511-4913-8C81-2688821D5229</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.1.2</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
